body {
  background-color: white;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

h1 {
  margin-top: 40px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  text-align: center;
  text-decoration: underline;
}

h2 {
  color: black;
  position: relative;
  text-align: center;
}
.horizontal-line {
  height: 0.8px;
  width: 300px;
  background-color: black;
  align-items: center;
}


li {
  position: relative;
  padding-top: 10px;
  padding-left: 50px;
  list-style: none;
  margin-left: 120px;
  
}

li:not(:last-child){
  margin-bottom: 15px;
  
}

li::before{
  content:"\2B9A";
  font-size: 19px;
  position: absolute;
  left: 0;
  margin-left: 10px;
  margin-top: -3px;
  

}

#dishContainer {
  position: relative;
  text-align: center;
}

#Previous {
  position: absolute;
  border-radius: 100px;
  bottom: 5%;
  left: 33%;
  padding: 6px;    
}

#Next {
  position: absolute;
  border-radius: 100px;
  left: 55%;
  bottom: 5%;
  padding-top: 6px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 6px;
}







