body{
    background-color: black;

}


h1{
  background-color: grey;
  color: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  position: relative;


}

h2{
  color: white;
}
h3{
  color: white;
}
