body {
  background-color: black;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  
}

h1 {
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: relative;
  text-align: center;
}

h2 {
  color: white;
  position: relative;
  text-align: center;
}
h3 {
  color: white;
  position: relative;
  text-align: center;
}

#dishContainer {
  position: relative;
  text-align: center;
}

#Previous {
  position: absolute;
  border-radius: 100px;
  bottom: 10%;
  left: 30%;
  padding: 6px;    
}

#Next {
  position: absolute;
  border-radius: 100px;
  left: 55%;
  bottom: 10%;
  padding-top: 6px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 6px;
}







