body{
   background-color:white;
}

.container {
  box-sizing: border-box;
}

.mealContainer {
  text-align: center;

}

.mealContainerItem {
  margin: 0px;
  padding: 0px;
}

#menuContainer {
  box-sizing: border-box; 
  height: auto;
  width: auto;
  align-self: center;
}
.horizontal-line{

  position: relative;
  align-items: center;
  width: 200px;
}

li {

  color: black;
  list-style: none;
  display: flex;
  width: 170px;
  position: relative;
  right: 1%;

}

li:hover{
  border: 2px solid black;

}

li:not(:last-child) {
  margin-top: 10px;
}

li::before {
  content: "\1F374";
  color: black;
}

.buttonsContainer {

  display: flex;
  justify-content: space-around;
  
  position: relative;
  margin: 10px;
  text-align: center;

}




button {

  
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  font-family: Inter,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

p {
  position: relative;
  text-align: center;
}


.linkContainer {
  position: relative;
  text-align: center;
}
